page-profile-edit-add{
  .selected-image{
    max-width: 100px;
    height: auto;
    margin: 0 auto;
  }
  .selected-file{
    text-align: center;
    font-size: 20px;
    .file-name{
      font-size: 14px;
    }
  }
}
