<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{content? "Editing " + getTypeTitle(): (with_office? "Add ": "Change to ") + getTypeTitle()}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list *ngIf="types && !selected_type">
    <ion-item>
      <ion-label>Select profile type</ion-label>
      <ion-select (ionChange)="typeChanged($event)" name="profile_type">
        <ion-option *ngFor="let cType of types" [value]="cType">{{cType.type}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <form-section *ngIf="selected_type"
                [selected_type]="selected_type"
                [content]="content"
                [display_titles]="with_office"
                (onCollectFinish)="collectFinished($event)">
  </form-section>
</ion-content>
