<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="Login()">
  <ion-list>

    <ion-item>
      <ion-label floating>E-Mail</ion-label>
      <ion-input autocomplete="on" type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <button ion-button full [disabled]="!loginForm.valid">Login</button>
    <button ion-button full type="button" (click)="showRegistration()">Register</button>
  </ion-list>
  </form>
</ion-content>
