<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reminders</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="loading-con" *ngIf="loading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-refresher (ionRefresh)="getItems($event)" [pullMin]="100">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item text-center no-lines *ngIf="!loading && !items.length">
    <ion-note>You don't have any reminders, check back soon</ion-note>
  </ion-item>
  <ion-list *ngIf="!loading">
    <ion-item class="reminder-item"
              *ngFor="let item of items"
              text-wrap>
      <ion-icon item-start name="alarm" large (click)="openItem(item)"></ion-icon>
      <p (click)="openItem(item)">You {{isExpired(item)? 'had': 'have'}} a meeting with
        <span style="font-weight: bolder">{{getOtherParty(item).name}}, {{item.content_update.schedule | amFromUnix | amCalendar}}</span>,
        tab for details</p>
      <button ion-button *ngIf="!isExpired(item) && !isResolved(item) && !isCanceled(item)" (click)="showAlert(item)">Cancel</button>
      <button ion-button *ngIf="!isResolved(item) && !isCanceled(item)" (click)="showScanPage(item)">Done</button>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadNext($event))">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>