<ion-col col-6 (click)="resultClicked()" *ngIf="!stars_only">
  <h1>{{getRateValue()}}</h1>
</ion-col>
<ion-col col-6 class="rating-result" (click)="resultClicked()" *ngIf="!stars_only">
  <ion-row>
    <ion-col col-8>
      <rating [ngModel]="result"
              [readOnly]="true">
      </rating>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-1><p>{{raters}}</p></ion-col>
    <ion-col col-1><ion-icon name="person"></ion-icon></ion-col>
  </ion-row>
</ion-col>
<ion-col col-12 class="rate" *ngIf="!stars_only && can_rate">
  <rating [(ngModel)]="rate_value"
          (ngModelChange)="onChange($event)">
  </rating>
  <p>{{rate_text}}</p>
  <button ion-button clear small (click)="showRatingPanel()" [disabled]="!rate_value">
    SUBMIT
  </button>
</ion-col>
<rating [ngModel]="result" [readOnly]="true" *ngIf="stars_only"></rating>