v-rating {
  width: 100%;
  .rating-result {
    ion-icon {
      float: left;
      font-size: 12px;
      line-height: 4.3vw;
    }
    p{
      margin:0 !important;
      padding:0 !important;
      float: left;
    }
    ul.rating{
      padding: 0px;
      margin: 0;
      li {
        padding: 0!important;
        background: none;
        color: grey;

        ion-icon {
          font-size: 12px;
          line-height: 1px;
        }
      }
    }
  }
  .col{
    padding: 0;
    align-self: flex-end;
  }
  h1{
    margin:0 !important;
    padding:0 5px 0 0 !important;
    font-size: 56px !important;
    float: right;
    line-height: 0.9;
  }
  .rate{
    ul.rating{
      margin-top: 20px;
      padding: 0;
      li{
        padding: 0 !important;
      }
      ion-icon{
        font-size: 32px;
        float: none;
        color: map_get($colors,'primary');
      }
    }
    p{
      float: none;
    }
  }
}
