<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="registerForm" (ngSubmit)="DoRegistration()">
    <ion-list>

      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>E-Mail</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Account type</ion-label>
        <ion-select [(ngModel)]="selected_role" color="secondary" formControlName="role">
          <ion-option *ngFor="let role of roles" [value]="role.id">{{role.display_name}}</ion-option>
        </ion-select>
      </ion-item>
      <button ion-button full [disabled]="!registerForm.valid">Register</button>
    </ion-list>
  </form>
</ion-content>
