<ion-tabs [selectedIndex]="mySelectedIndex" name="conference" *ngIf="tabs && tabs.length">
    <ion-tab *ngFor="let tab of tabs"
             [root]="tab.name"
             [tabTitle]="tab.title"
             [tabIcon]="tab.icon"
             [tabBadge]="tab.tabBadge"
             [tabBadgeStyle]="tab.tabBadgeStyle"
             [rootParams]="{'type': tab.type}">
    </ion-tab>
</ion-tabs>
