<ion-header>
  <ion-navbar color="primary">
    <ion-searchbar
            [(ngModel)]="searchInput"
            [showCancelButton]="shouldShowCancel"
            (ionInput)="onSearchInput()"
            (ionCancel)="onSearchCancel()">
    </ion-searchbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleScan()">
        <ion-icon name="barcode"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="loading-con" *ngIf="loading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-refresher (ionRefresh)="getItems($event)" [pullMin]="100">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item text-center no-lines *ngIf="!loading && !items.length && !backUp_items.length">
    <ion-note>You don't have any packages, check back soon</ion-note>
  </ion-item>
  <ion-item text-center no-lines *ngIf="!loading && !items.length && searchInput.length">
    <ion-note>No packages found!</ion-note>
  </ion-item>
  <ion-list *ngIf="!loading">
    <ion-item class="not-item" *ngFor="let item of items" text-wrap>
      <ion-avatar item-start class="author-avatar">
        <img [src]="item.from.name === 'IMOH' ? (item.from.avatar | logo) : (item.from.avatar | getImage)">
      </ion-avatar>
      <h2 class="author-name">{{item.from.name}}</h2>
      <p class="notification-text">
        a package for: {{item.to.name}}
      </p>
      <span *ngIf="!isDelivered(item)">
        <button ion-button (click)="displayAppointmentPanel(item.confirmation.content_update)">Deliver</button>
      </span>
      <ion-icon *ngIf="isDelivered(item)" name="checkmark-circle" color="primary"></ion-icon>
      <ion-note item-end>{{item.created_at | amFromUnix | amTimeAgo }}</ion-note>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadNext($event))">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>