page-profile-view{
  .profile-info{
    // Rating:
    p.country{
      float: none;
    }
    .account-type{
      p,ion-icon{
        float: right;
      }
      ion-icon{
        padding-right: 5px;
        line-height: 40px;
      }
    }
    button.profile-id{
      float: left;
      padding-top: 7px;
    }
  }
  h2.comment-author{
    margin: 5px 0 0 10px !important;
  }
  .post-title{
    padding-left:15px !important;
  }
  .comments-list{
    padding-bottom: 2rem;
    ion-thumbnail{
      margin: 0 !important;
      img{
        height: auto;
        max-width: 60px;
      }
    }
  }
  .comment-input{
    min-height: 65px;
  }
  .profile-avatar{
    img{
      border-radius: 50%;
      width: 150px !important;
      height: 150px !important;
    }
  }
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin: 5px 0 0 10px !important;
  }
  form{
    background: white;
  }
}