<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="profile">{{getName()}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentActions()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center *ngIf="profile">
    <share [shareable]=shareable *ngIf="shareable"></share>
    <ion-grid class="profile-info">
      <ion-row>
        <!--AVATAR-->
        <ion-col col-12 class="profile-avatar">
          <img [src]="profile.avatar | getImage" [alt]="profile.name">
        </ion-col>

        <!--COUNTRY-->
        <ion-col col-12 text-center *ngIf="profile.country && profile.country.name">
          <p *ngIf="profile.country" class="country">{{profile.country.name}}</p>
        </ion-col>
        <!--ACCOUNT TYPE-->
        <ion-col col-6 class="account-type">
          <p *ngIf="profile.roles && profile.roles.length">{{profile.roles[0].display_name}}</p>
          <ion-icon name="person"></ion-icon>
        </ion-col>
        <!--PROFILE ID-->
        <ion-col col-6>
          <button ion-button icon-left clear small (click)="copyProfileID()" class="profile-id">
            <ion-icon name="barcode"></ion-icon>
            <div *ngIf="profile.profile_id">
              {{profile.profile_id.substr(0,8)}}
            </div>
          </button>
        </ion-col>

        <!--RATING-->
        <v-rating ion-row [result]="profile.rating_average"
                  [raters]="profile.rating_count"
                  [can_rate]="!selfProfile"
                  (onRate)="rate($event)" (onResultClick)="openRatingsList()"></v-rating>

      </ion-row>
    </ion-grid>
    <!--SECTIONS-->
    <div padding>
      <ion-segment *ngIf="types" [(ngModel)]="active_tab">
        <ion-segment-button *ngFor="let type of types" [value]="type">
          {{getTabTitle(type)}}
        </ion-segment-button>
      </ion-segment>
    </div>
    <!--SERVICES-->
    <div *ngIf="active_tab && isService(); else otherType">
      <ion-list>
        <ion-item *ngFor="let service of getTabContent()" (click)="gotoService(service.id)">
          <ion-thumbnail item-start *ngIf="getCategory(service.categories[0].id)">
            <img [src]="getCategory(service.categories[0].id).image | getImage">
          </ion-thumbnail>
          <h3>{{getName()}}</h3>
          <h2>{{service.title}}</h2>
          <p *ngIf="service.location">{{service.location.administrative_area}}</p>
          <button ion-button clear item-end (click)="takeAction(service.id)">respond</button>
        </ion-item>
      </ion-list>
      <p *ngIf="!getTabContent().length">There are no services</p>
    </div>
    <ng-template #otherType>
      <div *ngIf="types">
        <ion-list *ngIf="getTabContent().length && !isComment()">
          <ion-item *ngFor="let content of getTabContent()" (click)="openItem(content)">
            <h3>{{getName()}}</h3>
            <h2>{{content.title}}</h2>
            <p *ngIf="content.location">{{content.location.administrative_area}}</p>
            <ion-note>{{content.created_at | vFormat:'YYYY-MM-DD'}}</ion-note>
          </ion-item>
        </ion-list>
          <ion-list *ngIf="getTabContent().length && isComment()" class="comments-list">
              <ion-item *ngFor="let comment of getTabContent()">
                  <ion-thumbnail item-start>
                    <img [src]="comment.author.avatar | getImage">
                  </ion-thumbnail>
                  <h3>{{getName(comment.author)}}</h3>
                  <p>{{comment.content}}</p>
                  <ion-note>{{comment.created_at | vFormat:'YYYY-MM-DD'}}</ion-note>
              </ion-item>
          </ion-list>
        <p *ngIf="!getTabContent().length">There are no {{getTabTitle(active_tab).toLowerCase()}}</p>
        <button ion-button icon-only *ngIf="canAddComment() && !comment_input" (click)="showCommentForm()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
        <button ion-button icon-only *ngIf="canAddOffice()" (click)="addOffice()">
          <ion-icon name="add"></ion-icon>
        </button>
      </div>
    </ng-template>
  </div>
</ion-content>
<ion-footer>
  <form #f="ngForm" *ngIf="comment_input && isComment()">
    <ion-grid>
      <ion-row>
        <ion-col col-10 col-md-11 class="chat-input">
          <ion-input [(ngModel)]="comment.comment" name="chatText" required placeholder="Type here..." [disabled]="commenting"></ion-input>
        </ion-col>
        <ion-fab right bottom>
          <button ion-fab color="primary" (click)="addComment()" *ngIf="f.valid">
            <ion-icon name="md-send"></ion-icon>
          </button>
        </ion-fab>
      </ion-row>
    </ion-grid>
  </form>
</ion-footer>


