
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Preview</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="sendData()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img *ngIf="message.attachment.blob_type == 'image'" [src]="message.attachment.preview">
          <ion-icon *ngIf="message.attachment.blob_type != 'image'" name="document"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input [(ngModel)]="message.text" name="chatText" required placeholder="Type here..."></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>
