<ion-header>
</ion-header>


<ion-content padding>
  <ion-slides (ionSlideDidChange)="slideChanged()">
    <ion-slide>
      <h1 class="slide-title">Welcome to IMOHSA</h1>
      <p>In order for the app to function properly, we need few permissions.</p>
      <p>We will walk you through those permissions one by one..</p>
      <p>Please swipe to the left to continue.</p>
    </ion-slide>

    <!-- MIC -->
    <ion-slide>
      <h1 class="slide-title">Microphone</h1>
      <p>We need the access permission for the microphone so you can send audio records the IMOHSA members.</p>
      <p>Please slide left and allow the microphone access.</p>
    </ion-slide>
    <ion-slide>
      <h1 class="slide-title">Requesting microphone permission..</h1>
    </ion-slide>

    <!-- CAMERA -->
    <ion-slide>
      <h1 class="slide-title">Camera</h1>
      <p>We need the access permission for the camera so you can take & send photos the IMOHSA members.</p>
      <p>Please slide left and allow the camera access.</p>
    </ion-slide>
    <ion-slide>
      <h1 class="slide-title">Requesting camera permission..</h1>
    </ion-slide>

    <!-- WRITE -->
    <ion-slide>
      <h1 class="slide-title">Storing Media</h1>
      <p>We need the access permission to store files on the device so we can save the media you send & receive through conversations</p>
      <p>Please slide left and allow storing files.</p>
    </ion-slide>
    <ion-slide>
      <h1  class="slide-title">Requesting write permission..</h1>
    </ion-slide>

    <!-- LOCATION -->
    <ion-slide>
      <h1 class="slide-title">Accessing Location</h1>
      <p>If you posted a service, other people or humanitarian organizations who wants to help, need to know in what city you are in order to help you better</p>
      <p>Please slide left and allow accessing location.</p>
    </ion-slide>
    <ion-slide>
      <h1  class="slide-title">Requesting write permission..</h1>
    </ion-slide>

    <!-- END -->
    <ion-slide>
      <h1  class="slide-title">Thank you, Enjoy!</h1>
    </ion-slide>
  </ion-slides>
</ion-content>
