<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="content">{{content.title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentActions()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="content && !loading">
    <ion-item>
      <ion-thumbnail item-start *ngIf="hasCategories()">
        <img [src]="getCategory(content.categories[0].id).image | getImage">
      </ion-thumbnail>
      <h2>{{content.title}}</h2>
      <p *ngIf="content.body">{{content.body}}</p>
      <p *ngIf="content.location">{{content.location.administrative_area}}</p>
      <p text-left><span style="font-weight: bold" *ngIf="getName()">By: </span><span>{{getName()}}</span></p>
    </ion-item>
    <ion-item *ngIf="isService()">
      <button ion-button medium block (click)="takeAction()">Respond</button>
    </ion-item>
  </ion-list>
  <div *ngIf="content_type && content_type.show_map" class="map-con" #map id="map" [ngClass]="map_ready? 'show-map': null"></div>
  <ion-list *ngIf="content && content.updates">
    <ion-item>
      <p text-center style="font-weight: bold">Updates:</p>
    </ion-item>
    <ion-item *ngFor="let update of content.updates">
      <ion-avatar item-start>
        <img [src]="update.author.avatar? getFullURL(update.author.avatar): getDefaultImage()">
      </ion-avatar>
      <p style="font-weight: bold">{{update.author.name}}</p>
      <p>{{getRole(update.author)}}</p>
      <p style="font-weight: bold">{{getUpdateText(update)}}</p>
      <p item-end dir="ltr"  style="font-size: 12px">{{update.created_at | timeAgo }}</p>
    </ion-item>
  </ion-list>
</ion-content>
