<ion-header>

  <ion-navbar color="primary">
    <ion-title>Scan</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="cancelScan()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <qrcode *ngIf="showCode" [qrdata]="availableCodes[0].code" colordark="#488aff" class="qr-code-con"></qrcode>
  <ion-item text-center>
    <p *ngIf="showCode">Use your device camera to scan the code above</p>
    <button ion-button full (click)="toggleScan()" *ngIf="showCode">Scan code</button>
  </ion-item>
  <zxing-scanner #scanner *ngIf="browser"
                 [autofocusEnabled]="true"
                 (camerasFound)="addCameras($event)"
                 (scanSuccess)="scanSuccess($event)"
                 (scanError)="scanError($event)"
                 (scanFailure)="scanFailure($event)"
                 [scannerEnabled]="toggle_br_scan">
  </zxing-scanner>
</ion-content>
