  <ion-header>
  <ion-navbar color="primary">
    <ion-searchbar
            [(ngModel)]="searchInput"
            [showCancelButton]="shouldShowCancel"
            (ionInput)="onSearchInput()"
            (ionCancel)="onSearchCancel()">
    </ion-searchbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="loading" class="loading-con">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-refresher *ngIf="!loading" (ionRefresh)="getItems($event)" [pullMin]="100">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="addContent()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-list *ngIf="contents && !loading">
    <ion-item *ngFor="let content of contents">
      <ion-thumbnail item-start *ngIf="content.categories && categories.length;else loadingCat" (click)="viewContent(content.id)">
        <img [src]="getFullURL(getCategory(content.categories[0].id).image)">
      </ion-thumbnail>
      <ng-template #loadingCat><p>Loading</p></ng-template>
      <h3 (click)="viewContent(content.id)">{{content.author.visible_name}}</h3>
      <h2 (click)="viewContent(content.id)">{{content.title}}</h2>
      <!--todo: get the location name -->
      <p *ngIf="content.author.location">{{content.author.location.administrative_area}}</p>
      <button ion-button clear item-end
              (click)="takeAction(content.id)"
              *ngIf="!isResolved(content) && !isAuthor(content)">
        {{content.offered? 'Claim': "Respond"}}
      </button>
      <button ion-button clear item-end disabled *ngIf="isResolved(content)">resolved</button>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadNext($event))">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
