<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="content">
        {{getTitle()}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div class="loading-con" *ngIf="loading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <form #form="ngForm">
    <ion-list *ngIf="content">
      <!--OFFICES-->
      <ion-item *ngIf="!is_direct && offices && offices.length">
        <ion-label *ngIf="offered; else required">Get through</ion-label>
        <ng-template #required>
          <ion-label>Respond through</ion-label>
        </ng-template>
        <ion-select [(ngModel)]="update.office_id" name="office" required>
          <ion-option *ngFor="let office of offices" [value]="office.id">
            {{office.title + " - " + office.location.sub_administrative_area}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="min_date && max_date">
        <ion-label>Date</ion-label>
        <ion-datetime
                displayFormat="YYYY-MMM-DD, h:mm a"
                [min]="min_date" [max]="max_date"
                [(ngModel)]="date"
                required
                name="date"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="is_direct">
        <ion-label>Place</ion-label>
        <ion-input #search id="search" name="place"></ion-input>
        <button *ngIf="search_ready" class="map-btn" ion-button clear color="primary" type="button" item-right (click)="openMap()">
          <ion-icon name="map"> </ion-icon>
        </button>
        <ion-spinner item-right *ngIf="!search_ready" color="primary"></ion-spinner>
      </ion-item>
      <ion-item>
        <ion-label>Comment</ion-label>
        <ion-input name="comment" [(ngModel)]="update.details"></ion-input>
      </ion-item>
      <span *ngIf="isOfficeUpdate()" class="map-item">
        <p text-center>Office location:</p>
        <page-map [embed]="true"
                  [lat]="old_update.lat"
                  [lng]="old_update.lng"
                  [disable_drag]="true"
                  [height]="map_height + 'px'"
                  [zoom]="17">
        </page-map>
      </span>
      <ion-item class="action-btn-item">
        <button ion-button  block [disabled]="!form.valid || !isLocationValid()" (click)="save()">{{getButtonText()}}</button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
