page-take-action{
  .map-item{
    height: 230px !important;
    display: inline-block;
    width: 100%;
    p{
      margin: 10px 0 0 0 !important;
      padding: 0 !important;
    }
    .scroll-content{
      //height: 600px
    }
  }
  .action-btn-item{
    margin: 0 !important;
    padding: 0 !important;
    button, .item-inner, ion-label{
      padding: 0!important;
      margin: 0!important;
    }
  }
  .map-btn{
    ion-icon{
      font-size: 26px;
    }
  }
}
