<ion-slides style="height: 80vh;" (ionSlideDidChange)="slideChanged()" pager="true">
    <ion-slide *ngFor="let section of selected_type.sections;index as sec_index">
        <p *ngIf="display_titles">{{section.title}}</p>
        <form #form="ngForm">
            <ion-list *ngIf="section.fields">
                <!--TYPE FIELDS-->
                <ion-item *ngFor="let field of section.fields; index as i">
                    <!--LABEL-->
                    <ion-label floating *ngIf="canFloat(field) && field.type !== 'checkbox' && !isFileField(field)"[ngClass]="{'required':field.required}">
                        {{field.label}}
                    </ion-label>
                    <ion-label floating *ngIf="canFloat(field) && field.type === 'checkbox'">{{field.label}}</ion-label>
                    <ion-label *ngIf="!canFloat(field) && !isFileField(field)" [ngClass]="{'required':field.required}">{{field.label}}</ion-label>

                    <!--DATE-->
                    <ion-datetime *ngIf="field.type == 'date'" displayFormat="MMM DD YYYY" [(ngModel)]="section.fields[i].value" [name]="cleanName(field)" (ionChange)="fieldValChanged(field)" [required]="helpers.toBoolean(field.required)"></ion-datetime>

                    <!--END DATE / START DATE / TIMESTAMP-->
                    <ion-datetime *ngIf="isTypeDate(field) && field.type !== 'date'" displayFormat="YYYY MMM DD hh:mm a" [(ngModel)]="section.fields[i].value" [name]="cleanName(field)" (ionChange)="fieldValChanged(field)" [required]="helpers.toBoolean(field.required)"></ion-datetime>

                    <!--TEXT-->
                    <ion-input *ngIf="field.type == 'text'" [(ngModel)]="section.fields[i].value" [name]="cleanName(field)" (ionChange)="fieldValChanged(field)" [required]="helpers.toBoolean(field.required)"></ion-input>

                    <!--PASSWORD-->
                    <ion-input *ngIf="field.type == 'password'" type="password" [(ngModel)]="section.fields[i].value" [name]="cleanName(field)" (ionChange)="fieldValChanged(field)" [required]="helpers.toBoolean(field.required)"></ion-input>

                    <!--TEXT AREA-->
                    <ion-textarea *ngIf="field.type == 'text_area'" [(ngModel)]="section.fields[i].value" [name]="cleanName(field)" (ionChange)="fieldValChanged(field)" [required]="field.required > 0"></ion-textarea>

                    <!--CHECKBOX-->
                    <ion-checkbox *ngIf="field.type == 'checkbox'" checked="true"  [(ngModel)]="section.fields[i].value" [name]="cleanName(field)" (ionChange)="fieldValChanged(field)"></ion-checkbox>

                    <!--NUMBER-->
                    <ion-input *ngIf="field.type == 'number'" type="number" [(ngModel)]="section.fields[i].value" [name]="cleanName(field)" (ionChange)="fieldValChanged(field)" [required]="helpers.toBoolean(field.required)"></ion-input>

                    <!--SELECT-->
                    <ion-select *ngIf="field.type == 'select_dropdown'" [(ngModel)]="section.fields[i].value" [name]="cleanName(field)" (ionChange)="fieldValChanged(field)" [multiple]="isMultipleSelect(field)" [required]="helpers.toBoolean(field.required)">
                        <ion-option *ngFor="let option of getFieldOptions(field)" [value]="option.key">{{option.value}}</ion-option>
                    </ion-select>

                    <!--LOCATION-->
                    <ion-input
                            *ngIf="field.type === 'location'"
                            [id]="field.type + '_' + field.id"
                            [name]="cleanName(field)"
                            [(ngModel)]="section.fields[i].value"
                            [required]="helpers.toBoolean(field.required)">
                    </ion-input>
                    <button *ngIf="field.type === 'location' && searchFieldsReady[field.id]"
                            class="map-btn"
                            ion-button clear
                            color="primary"
                            type="button"
                            item-right
                            (click)="openMap(field)">
                        <ion-icon name="map"> </ion-icon>
                    </button>
                    <ion-spinner item-right *ngIf="field.type === 'location' && !searchFieldsReady[field.id]" color="primary"></ion-spinner>

                    <!--IMAGE-->
                    <button *ngIf="field.type === 'image'" ion-button block (click)="showImageActionSheet(field)">
                        {{field.label}}
                    </button>
                    <div class="selected-image" *ngIf="field.type === 'image' && imageIsSelected(field)">
                        <img [src]="getSelectedImage(field) | safeUrl" [alt]="field.label">
                    </div>

                    <!--FILE-->
                    <button *ngIf="field.type === 'file'" ion-button block (click)="addFile(field)">
                        {{field.label}}
                    </button>
                    <div *ngIf="field.type === 'file' && fileIsSelected(field)" class="selected-file">
                        <ion-icon name="document">
                            <span class="file-name">{{getSelectedFile(field).blob.name}}</span>
                        </ion-icon>
                    </div>
                    <input type="file" *ngIf="isFileField(field)"
                           hidden
                           [id]="field.type + '_' + field.id"
                           (change)="fileChanged($event,field)">
                </ion-item>
                <ion-item>
                    <button ion-button block
                            [disabled]="!form.valid"
                            (click)="gotoNextSlide(section,sec_index)">
                        {{isLastSection(sec_index)?"Done":"Next"}}
                    </button>
                </ion-item>
            </ion-list>
        </form>
    </ion-slide>
</ion-slides>