<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle *ngIf="!browser">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Service Update</ion-title>
    <ion-buttons end *ngIf="!browser">
      <button ion-button icon-only (click)="presentActions()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding text-center>
  <div class="loading-content" *ngIf="loading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <span *ngIf="!loading">
    <p><span style="font-weight: bolder">{{item.author.name}} </span>{{getStatusText()}}</p>
    <p>Schedule: {{getSchedule()}}</p>
    <p>Meeting place:</p>
    <page-map [embed]="true"
              [lat]="item.lat"
              [lng]="item.lng"
              [disable_drag]="true"
              [height]="map_height + 'px'"
              [zoom]="17">
    </page-map>
  </span>
</ion-content>
