page-conversation-view{
  .profile-icon{
    display: inline-block;
  }
  .profile-icon img {
    max-width: 50px;
    border-radius: 50%;
  }
  .was-online{
    padding: 0;
    margin: 0;
    font-size: 12px;
  }


  .demo-two {
    width:200px;
    height:200px;
    background-color: lightgreen;
    color: #fff;
  }
  .demo-two:hover {
    cursor:pointer;
  }
  .chat-input{
    min-height: 65px;
    .record-time{
      font-size: 14px !important;
    }
  }
  .resend-btn{
    position: absolute;
    top: 45%;
    left: 38%;
  }
  img.message-img{
    object-fit: cover;
    max-height: 200px;
  }
  .message, .message-header{
    background: #4f696c;
    color:white;
  }
  .message-text{
    color: white;
  }
}