<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="profile-icon" *ngIf="conversation && !isMultiReceivers()">
      <img [src]="getReceivers()[0].avatar | getImage" [alt]="getReceivers()[0].name">
    </div>
    <ion-title *ngIf="conversation && !isMultiReceivers()" style="display: inline-block">
      {{getReceivers()[0].name}}
      <p class="was-online">
        {{isReading()? "Reading": "Was online: "}}
        {{ getReceivers()[0].last_active | vCalendar}}
      </p>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentAttOptions()">
        <ion-icon name="attach"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadNext($event))" position="top" [enabled]="canLoadNext()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-grid *ngIf="pagination && pagination.data">
    <ion-row>
      <ion-col col-10 *ngFor="let message of pagination.data" [attr.offset-2]="idToAuthor(message.sender).id === currentUser.id? true: null">
        <ion-card class="message">
          <button ion-item detail-none (click)="gotoUserProfile(message.sender)" class="message-header">
            <ion-avatar item-left>
              <img [src]="idToAuthor(message.sender).avatar | getImage" [alt]="idToAuthor(message.sender).name">
            </ion-avatar>
            {{idToAuthor(message.sender).name}}
          </button>
          <img
              *ngIf="att_ser.isImage(message)"
              [src]="getPreviewSource(message)"
              (click)="openAttachment(message)" class="message-img">
          <ion-row *ngIf="att_ser.isAudio(message) && canPlay(message)">
            <ion-col col-2 no-padding>
              <button ion-button large="true" color="primary" clear icon-only (click)="playMedia(message)">
                <ion-icon [name]="player.isPlaying(message)?'pause':'play'" is-active="false"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-10 no-padding>
              <ion-range [ngModel]="player.isPlaying(message) || player.isPaused(message) ? playngPercentage: 0" [min]="0" [max]="100"></ion-range>
            </ion-col>
            <ion-col col-10 offset-2 no-padding>
              <ion-note>{{message.attachment.duration_humanized}}</ion-note>
            </ion-col>
          </ion-row>
          <ion-card-content *ngIf="canDownload(message) || isDownloading(message) || isUploading(message) || message.text">
            <button *ngIf="canDownload(message)" ion-button large="true" color="primary" clear icon-only (click)="att_ser.download(message)">
              <ion-icon name="cloud-download" is-active="false"></ion-icon>
            </button>
            <ionUp-progress *ngIf="(isDownloading(message) || isUploading(message) && progress[message.inAppID])" [progress]="progress[message.inAppID] | async"></ionUp-progress>
            <p *ngIf="message.text" class="message-text">{{message.text}}</p>
            <button ion-button
                    large="true"
                    color="primary"
                    clear icon-only
                    class="resend-btn"
                    *ngIf="(att_ser.isImage(message) || att_ser.isFile(message))&& isErrored(message)"
                    (click)="attemptToSend(message)">
              <ion-icon name="refresh"></ion-icon>
            </button>
          </ion-card-content>
          <ion-row>
            <button ion-button
                    large="true"
                    color="primary"
                    clear icon-only
                    *ngIf="att_ser.isAudio(message) && isErrored(message)"
                    (click)="attemptToSend(message)">
              <ion-icon name="refresh"></ion-icon>
            </button>
            <ion-col col-6 center text-left *ngIf="message.status && message.status.state.processing">
              <ion-spinner></ion-spinner>
            </ion-col>
            <ion-col col-6 right text-left *ngIf="isSent(message)">
              <ion-icon name="checkmark-circle" color="primary"></ion-icon>
            </ion-col>
            <ion-col col-6 right text-left *ngIf="isSeen(message)">
              <ion-icon name="eye" color="primary"></ion-icon>
            </ion-col>
            <ion-col col-6 right text-center>
              <ion-note *ngIf="isNew(message.date) || isYesterday(message.date); else old">{{message.date | vCalendar}}</ion-note>
                <ng-template #old>
                  <ion-note> {{message.date | vFormat:'YYYY-MM-DD HH:mm a'}}</ion-note>
                </ng-template>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <form #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col col-10 col-md-11 class="chat-input" *ngIf="!recording">
          <ion-input [(ngModel)]="chat" name="chatText" required placeholder="Type here..."></ion-input>
        </ion-col>
        <ion-col col-10 col-md-11 class="chat-input" *ngIf="recording">
          <span class="record-time">{{recordingTime}}</span>
        </ion-col>
        <ion-fab right bottom>
          <button ion-fab color="danger" (panend)="cancelAudioRec($event)" (press)="startAudRec($event)" (pressup)="stopAudRec($event)" *ngIf="chat === ''">
            <ion-icon name="mic"></ion-icon>
          </button>
          <button ion-fab color="primary" (click)="send(f.value)" *ngIf="f.valid && !recording">
            <ion-icon name="md-send"></ion-icon>
          </button>
        </ion-fab>
      </ion-row>
    </ion-grid>
  </form>
</ion-footer>
