  <ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div *ngIf="language && language == 'English'">
        Home
      </div>
      <div *ngIf="language && language == 'Arabic'">
        الرئيسية
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

</ion-content>
