ionUp-progress{
  .percentage{
    text-align: center;
    color: color($colors, primary);
  }
  .progress-bar{
    display: inline-block;
    height: 4px;
    width:100%;
    text-align: center;
    background: color($colors, primary);
  }
}