<ion-header *ngIf="!embed">
    <ion-toolbar>
        <ion-buttons start>
            <button ion-button (click)="cancel()">Cancel</button>
        </ion-buttons>
        <ion-title>Select location</ion-title>
        <ion-buttons end>
            <button ion-button (click)="sendLocation()" strong>Done</button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div  *ngIf="!map_ready" class="map-spinner">
        <ion-spinner></ion-spinner>
    </div>
    <div class="map-con" #map id="map"  [ngStyle]="height?{height: height}: null" [ngClass]="map_ready? 'show-map': null"></div>
</ion-content>
