ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
page-map ion-content {
  background: rgb(229, 227, 223);
}

page-map {
  .scroll-content{
    overflow: hidden;
  }
  background: transparent;
  .map-spinner{
    position: relative;
    width: 100%;
    height: 100%;
    ion-spinner{
      position: absolute;
      top:50%;
      left:50%;
    }
  }
  #map {
    height: 100%;
    width: 100%;
    background-color : transparent;
  }
  agm-map{
    width:100%;
    height:100%;
  }
}

page-map ion-content {
  background: rgb(229, 227, 223);
}

page-map #map {
  opacity: 0;
  transition: opacity 500ms ease-in
}

page-map #map.show-map {
  opacity: 1;
}
