<ion-header>

  <ion-navbar>
    <ion-title>Confirm</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding text-center>
  <div class="loading-con" *ngIf="loading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div *ngIf="!loading">
    <qrcode *ngIf="confirmation" [qrdata]="confirmation.code" colordark="#488aff" class="qr-code-con"></qrcode>
    <p *ngIf="confirmation">Use your device camera to scan the code above</p>
    <button ion-button large (click)="scan()" *ngIf="confirmation">Scan code</button>
    <h1 *ngIf="!confirmation">No results found</h1>
    <p *ngIf="!confirmation">We couldn't find any confirmation code for this service</p>
    <p *ngIf="error">We couldn't communicate with the server</p>
    <button ion-button *ngIf="error" (click)="retry()">Try Again</button>
    <zxing-scanner #scanner *ngIf="browser"
                   [autofocusEnabled]="true"
                   (camerasFound)="selectCamera($event)"
                   (scanComplete)="scanComplete($event)"
                   (scanSuccess)="scanSuccess($event)"
                   (scanError)="scanError($event)"
                   (scanFailure)="scanFailure($event)"
                   [scannerEnabled]="toggle_br_scan">
    </zxing-scanner>
  </div>
</ion-content>
