<ion-split-pane>

    <!-- logged out menu -->
    <ion-menu id="loggedOutMenu" [content]="content" menu-background="primary">
        <ion-header>
            <ion-toolbar>
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content class="outer-content">
            <ion-list>
                <ion-list-header>
                    Account
                </ion-list-header>
                <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
                    <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
                    {{p.title}}
                </button>
            </ion-list>
            <ion-list>
                <ion-list-header>
                    Navigate
                </ion-list-header>
                <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
                    <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
                    {{p.title}}
                </button>
            </ion-list>
        </ion-content>
    </ion-menu>



    <!-- logged in menu -->
    <ion-menu id="loggedInMenu" [content]="content" menu-background="primary">

        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content class="outer-content menu-content-cust">

            <ion-list class="list-content-cust">
                <ion-list-header>
                    Account
                </ion-list-header>
                <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
                    <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
                    {{p.title}}
                </button>
            </ion-list>

            <ion-list>
                <ion-list-header>
                    IMOH
                </ion-list-header>
                <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
                    <ion-icon item-left [name]="p.icon" [color]="isActive(p)"></ion-icon>
                    {{p.title}}
                </button>
            </ion-list>
        </ion-content>
    </ion-menu>

    <!-- main navigation -->
    <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>

</ion-split-pane>
