// ==== INITIAL ====
// services icon:
ion-icon {
  &[class*="imoh-"] {
    // Instead of using the font-based icons
    // We're applying SVG masks
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }
  // custom icons
  &[class*="imoh-services-icon"] {
    mask-image: url(../assets/imgs/services-icon.svg);
  }
}
ion-label.required:after {
  content: " *";
  color: map_get($colors,'danger');
}



// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}


// Name of the next breakpoint, or null for the last breakpoint.
//
//    >> breakpoint-next(sm)
//    md
//    >> breakpoint-next(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    md
//    >> breakpoint-next(sm, $breakpoint-names: (xs sm md lg xl))
//    md
@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}


// Maximum breakpoint width. Null for the largest (last) breakpoint.
// The maximum value is calculated as the minimum of the next one less 0.1.
//
//    >> breakpoint-max(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
//    767px
@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}


// Creates text alignment classes based on screen size
// TODO this would be nice to add to the framework
@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    // Provide text `[text-{bp}]` attributes for aligning text based on screen size
    [text#{$infix}-center] {
      text-align: center;
    }

    [text#{$infix}-left] {
      text-align: left;
    }

    [text#{$infix}-right] {
      text-align: right;
    }

    [hidden#{$infix}-up] {
      display: none;
    }
  }

  @include media-breakpoint-down($breakpoint, $grid-breakpoints) {
    [hidden#{$infix}-down] {
      display: none;
    }
  }
  //.menu-content-cust,.list-content-cust{
  //  background: map-get($colors, primary);
  //}

}

// ==== GENERAL ====
// Post Cards:
.post-card{
  //overflow-wrap: break-word;
  //word-wrap: break-word;
  .post-image-con{
    width:100%;
    height: 200px;
    img{
      display: block;/*for the img inside your div */
      margin: 0 auto;
      width: auto;
      max-height: 100%;
    }
  }
  .date-col{
    text-align: center;
    padding: 15px;
  }
}
// Comments:
.comments-list{
  ion-item{
    min-height: 80px !important;
  }
  .date{
    text-align: right;
  }
  .comment-author{
    // padding-top: 6px;
  }
  .comment-content{
    padding-left: 5px;
  }
}
#not_btn {
  position: relative;
  #not_badge {
    position: absolute;
    top: 6px;
    right: 1px;
    background: map_get($colors,'danger');
    border-radius: 50%;
    padding: 2px;
    font-size: 10px;
  }
}
.loading-con{
  position: relative;
  width: 100%;
  height: 100%;
  ion-spinner{
    position: absolute;
    top:50%;
    left:50%;
  }
}
.qr-code-con{
  img{
    margin: 0 auto;
  }
}