<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Conversations</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentMultipleOptions()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher *ngIf="!loading" (ionRefresh)="getItems($event)" [pullMin]="100">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="loading" class="loading-con">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let item of conversations" (click)="openItem(item)" (press)="presentOptions(item)">
      <ion-avatar item-start>
        <img [src]="getReceiver(item).avatar | getImage">
      </ion-avatar>
      <h2>{{getName(item)}}</h2>
      <p>
        <ion-icon name="mic" color="primary" *ngIf="att_ser.isAudio(item.last_message)"></ion-icon>
        {{getLastMessageText(item.last_message)}}
      </p>
      <ion-note item-end>{{item.last_message.date | amFromUnix | amDateFormat:'h:mm a' }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>


