page-notifications {
  .no-items{
    display: block;
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }
  .not-item.highlight{
    background: map_get($colors,'light');
  }
  .not-item{
    ion-avatar.author-avatar{
      min-width: 40px !important;
      img{
        position: absolute;
        top: 12px;
      }
    }
  }
  @media only screen and(max-width: 420px){
    .not-item{
      .author-name{
        font-size: 12px;
      }
      ion-avatar.author-avatar{
        min-width: 26px !important;
        min-height: 22px !important;
        margin: 0 10px 0 0 !important;
        img{
          width: 30px;
          height: 30px;
        }
      }
      .notification-text{
        font-size: 12px;
      }
      ion-note {
        font-size: 10px;
        align-self: flex-start;
        margin-top: 14px;
      }
    }
  }
}
