<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="loading-con" *ngIf="loading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-refresher (ionRefresh)="getItems($event)" [pullMin]="100">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <span *ngIf="!loading && !items.length" class="no-items">
    <ion-note>You don't have any notifications, check back soon</ion-note>
  </span>
  <ion-list *ngIf="!loading">
    <ion-item class="not-item"
              *ngFor="let item of items"
              [ngClass]="!item.read_at?'highlight':null"
              (press)="openItem(item)"
              text-wrap>
      <ion-avatar item-start class="author-avatar">
        <img [src]="item.author.name === 'IMOH' ? (item.author.avatar | logo) : (item.author.avatar | getImage)">
      </ion-avatar>
      <h2 class="author-name">{{item.author.name}}</h2>
      <p class="notification-text" *ngIf="!isContentUpdate(item)">
        {{item.data.text}}
      </p>
      <content-update-notification
              *ngIf="isContentUpdate(item) && item.data && item.data.original"
              [types]="types"
              [item]="item"
              [profile]="profile">
      </content-update-notification>
      <ion-note item-end>{{item.created_at | amFromUnix | amTimeAgo }}</ion-note>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadNext($event))">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>