<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ratings</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-refresher (ionRefresh)="getRatings($event)" [pullMin]="100">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list class="raters">
    <ion-item *ngFor="let rating of ratings" (click)="gotoUserProfile(rating.author.id)" class="rater">
      <ion-thumbnail item-start>
        <img [src]="rating.author.avatar | getImage">
      </ion-thumbnail>
      <h3 class="author-name">{{rating.author.name}}</h3>
      <v-rating [result]="rating.rating" [stars_only]="true"></v-rating>
      <p class="author-comment">{{rating.comment}}</p>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadNext($event))">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
