ratings-list{
  .raters{
    ion-thumbnail{
      img{
        height: 40px;
        max-width: 40px;
      }
      min-width: 40px;
      max-width: 40px;
    }
    h3.author-name{
      font-size: 16px;
    }
    p.author-comment{
      margin: 1.5rem 0 0 0;
      color: map_get($colors,'dark');
      font-size: 16px;
    }
  }
  ul.rating{
    padding:0;
    margin: 0;
    li{
      padding:0 !important;
      margin:0 !important;
      ion-icon {
        font-size: 12px;
        line-height: 1px;
      }
    }
  }
}
