<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{content? "Editing " + getTypeTitle(): "Add " + getTypeTitle()}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list *ngIf="!matched_type && !content">
    <ion-item *ngIf="categories && categories.length">
      <ion-label>Select Category</ion-label>
      <ion-select [(ngModel)]="selected_category" name="category" (ionChange)="getMainCatChildren()">
        <ion-option *ngFor="let category of categories" [value]="category">{{category.name}}</ion-option>
      </ion-select>
    </ion-item>
    <span *ngIf="selected_category && available_groups.length">
      <span *ngFor="let group of available_groups; index as group_index">
        <ion-item name="sub_cat">
          <ion-label>Select sub-category</ion-label>
          <ion-select (ionChange)="selectCat($event)" [disabled]="content">
              <ion-option *ngFor="let category of group.value" [value]="category">{{category.name}}</ion-option>
          </ion-select>
        </ion-item>
      </span>
    </span>
  </ion-list>
  <form-section *ngIf="matched_type"
                [selected_type]="matched_type"
                [content]="content"
                (onCollectFinish)="collectFinished($event)">
  </form-section>
</ion-content>
