<p class="notification-text">{{getStatusText()}}</p>
<span *ngIf="item.data.original.actions_allowed">
  <button ion-button (click)="showAlert(true)">Accept</button>
  <button ion-button (click)="showAlert(false)">Reject</button>
  <button ion-button (click)="edit()">Edit</button>
</span>
<ion-icon *ngIf="isAccepted()" name="checkmark-circle" color="primary"></ion-icon>