<ion-header>
  <ion-navbar color="primary">
    <ion-searchbar
      [(ngModel)]="searchInput"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="findprofile()"
      (ionCancel)="onCancel()">
    >
    </ion-searchbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content speaker-list">
  <div *ngIf="loading" class="loading-con">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-list>
    <ion-grid fixed>
      <ion-row align-items-stretch>
          <ion-col col-12 col-md-6 align-self-stretch align-self-center *ngFor="let profile of profiles">
            <ion-card class="speaker-card">
              <ion-card-header>
                <button ion-item detail-none (click)="gotoProfile(profile.id)">
                  <ion-avatar item-left>
                    <img [src]="profile.avatar | getImage" [alt]="profile.name">
                  </ion-avatar>
                  <h2>{{getName(profile)}}</h2>
                  <p *ngIf="profile.country">{{profile.country.name}}</p>
                </button>
              </ion-card-header>
              <ion-card-content class="outer-content">
              </ion-card-content>
              <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small>
                    <ion-icon name="barcode"></ion-icon>
                    <ion-note>{{profile.profile_id}}</ion-note>
                  </button>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="$event.waitFor(loadNext($event))">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
