<ion-header>
  <ion-navbar>
    <ion-title>Scan</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding text-center>
  <qrcode *ngIf="qr_code" [qrdata]="qr_code" colordark="#488aff" class="qr-code-con"></qrcode>
  <p>Use your device camera to scan the code above</p>
</ion-content>
