page-content-view ion-content {
  background: rgb(229, 227, 223);
}

page-content-view {
  #map {
    height: 200px;
    width: 100%;
    background-color : transparent;
  }
  agm-map{
    width:100%;
    height:100%;
  }
}

page-content-view ion-content {
  background: rgb(229, 227, 223);
}

page-content-view #map {
  opacity: 0;
  transition: opacity 500ms ease-in
}

page-content-view #map.show-map {
  opacity: 1;
}

ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
}
