<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="content">{{content.title}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentActions()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="content && !loading">

  </ion-list>
</ion-content>
