
.reset-filters {
  color: color($colors, danger);
}

//@each $track, $value in auxiliary-categories() {
//
//  ion-item[#{$track}] .dot {
//    height: 10px;
//    display: inline-block;
//    width: 10px;
//    background-color: $value;
//    border-radius: 5px;
//    margin-right: 10px;
//  }
//
//}
