<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Cancel</button>
    </ion-buttons>

    <ion-title>
      Filter Posts
    </ion-title>

    <ion-buttons end>
      <button ion-button (click)="applyFilters()" strong>Done</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <ion-list-header>Categories</ion-list-header>

    <ion-item>
      <span item-left></span>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="selected_parents" color="secondary" multiple="true">
        <ion-option *ngFor="let cat of cats" [value]="cat">{{cat.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="selected_parents.length == 1 && selected_parents[0].children.length">
      <span item-left></span>
      <ion-label>Sub Categories</ion-label>
      <ion-select [(ngModel)]="selected_childs" color="secondary" multiple="true">
        <ion-option *ngFor="let cat of selected_parents[0].children" [value]="cat">{{cat.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <button ion-item (click)="resetFilters()" detail-none class="reset-filters">
      Reset
    </button>
  </ion-list>

</ion-content>
